@import "tailwindcss";


@layer base{
  :root{
    --bg-primary-color: #1F2937;
    --bg-secondary-color: #374151;
    --bg-tretiary-color: #0891B2;
    --bg-hover-color: #0E7490;

    --text-primary-color: #fff;
    --text-secondary-color: #D1D5DB;
    --text-tretiary-color: #67E8F2;
    --text-subtitle-secondary: #60A5FA;

  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
    box-sizing:border-box;
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }

}

@layer utilities{
  /*colors and backgrounds*/
  .bg-primary{
    background-color: var(--bg-primary-color);
  }
  .bg-secondary{
    background-color: var(--bg-secondary-color);
  }
  .bg-tretiary{
    background-color:var(--text-secondary-color);
  }
  .bg-hover{
    background-color:var(--bg-hover-color)
  }
  .text-primary{
    color: var(--text-primary-color);
  }
  .text-secondary{
    color: var(--text-secondary-color);
  }
  .text-tretiary{
    color: var(--text-tretiary-color);
  }
  /* TEXTS*/
  .title-primary {
    @apply text-3xl md:text-5xl font-extrabold text-center sm:text-right;
    color: var(--text-tretiary-color);
  }  
  .subtitle{
    @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-center text-wrap;
    color: var(--text-tretiary-color)
  }
  .subtitle-secondary{
    @apply text-xl sm:text-2xl text-center;
    color:var(--text-primary-color)
  }
  .paragraph{
    @apply  text-xl text-center break-words whitespace-normal text-pretty leading-normal md:leading-relaxed lg:leading-loose py-3;
    color: var(--text-primary-color);
  }
  .text-accent{
    color: var(--text-tretiary-color)
  }
  .text-accent-secondary{
    @apply text-sm md:text-lg;
    color: var(--text-secondary-color)
  }
}


@layer components{

  /*  BUTTONS  */
  .custom-button{
    @apply cursor-pointer px-3 py-2 shadow-lg rounded-lg;
    background-color: var(--bg-tretiary-color);
    color: var(--text-primary-color);
    border: 1px solid var(--bg-tretiary-color);
  }
  .custom-button:hover{
    background-color:var(--bg-hover-color);
    color: var(--text-primary-color);
  }
  .buttons{
    @apply text-black text-center cursor-pointer p-2;
    background-color: var(--text-primary-color);
  }
  .scrollBtn{
    @apply fixed z-50 cursor-pointer bottom-7 right-3 p-3;
    background-color: var(--bg-tretiary-color);
    color: var(--text-primary-color);
    border: 1px solid var(--bg-tretiary-color);
  }
  /*  NAVBAR  */
  .navbar{
    @apply w-full h-20 py-3 px-4 flex justify-between items-center sticky top-0 z-50;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-bottom: 3px solid var(--text-tretiary-color);
  }

  .nav-search{
    @apply hidden sm:flex items-center min-w-[200px];
  }
  .li-style{
    @apply text-lg md:text-xl px-3 py-2 transition-colors duration-200 ease-in-out;
    color: var(--text-primary-color);
  }
  .li-style:hover{
    background-color: var(--bg-secondary-color);
    color:var(--text-tretiary-color);
    border-radius: 11px;
  }
  
  .dropdown{
      @apply absolute top-full right-0 w-full sm:hidden shadow-lg p-8;
      background-color: var(--bg-primary-color);
      border-top: 1px solid var(--text-tretiary-color);
      border-bottom: 1px solid var(--text-tretiary-color);
      z-index: 50; 
  }
    
  .dropdown ul {
    @apply flex flex-col items-center gap-4;
  }
  
  .dropdown .li-style {
    @apply text-right px-4;
  }
  .cards{
    @apply p-6 m-4 bg-inherit h-fit mx-auto;
  }
  .foto{
    @apply w-full h-full rounded-lg object-cover shadow-lg;
  }
  .foto-container{
    @apply p-1 rounded-lg max-h-1/2;
    background-color: var(--text-subtitle-secondary);
  }

  .icon{
    @apply p-2 text-4xl sm:text-5xl;
    color: var(--text-tretiary-color);
  }
  .icon:hover{
    @apply transition-colors duration-300;
    color: var(--text-primary-color)
  }

  .carousel-div{
    @apply bg-inherit flex flex-col justify-center items-center max-w-3xl mx-auto h-full p-3 my-5;
    border: 2px solid var(--bg-secondary-color)
  }

  .form-contacts{
    @apply w-full max-w-3xl p-3;
    background-color: var(--bg--color);
  }

  .form-input {
    @apply rounded-md p-3 my-5 md:my-0 w-full focus:outline-none focus:ring-2 focus:ring-[--bg-hover] transition-all mr-0 sm:mr-6;
    background-color: var(--bg-secondary-color);
    color: var(--text-primary-color);
  }
  .form-input:nth-of-type(2){
    @apply py-5;
  }
  .form-input::placeholder {
    color: var(--text-secondary-color);
  }
  
  .form-input:hover {
    background-color: var(--bg-hover-color);
  }
  
  .form-contacts {
    @apply w-full max-w-2xl mx-auto text-white p-6;
    background-color: var(--bg-primary-color);
  }

  .form-contacts input[type="checkbox"] {
    @apply accent-[--text-tretiary-color];
  }
  

  .footerStyle{
    @apply border-t-2 p-3;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-color: var(--text-tretiary-color)
  }
}